@keyframes curtineLoad{
  0%{
    opacity: 0;
  }
  100%{
    opacity: .1;
  }
}

@keyframes bagLoad{
  0%{
    right: -530px;
  }
  100%{
    right: 0;
  }
}

@keyframes loadingAnimation{
  0%{transform: translate(-50%,-50%) scale(.5);}
  100%{transform: translate(-50%,-50%) scale(1.3);}
}