@import "./Mixins";
@import "./Keyframes";
@import "./Variables";
@import "./Header";
@import "./Products";
@import "./Cart";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  // overflow: hidden;
}

.App{
  position: relative;
  overflow-x: hidden;
}

.App__unvisible{
  position: fixed;
  // overflow: hidden;
}

[aria-hidden="true"] {    
  width: 100vw;
  z-index: -1; 
}