@import "./Variables";
@import "./Mixins";

.product__list{
  @include flex-mother($flex-direction: column, $align-items: center);
  max-width: 1200px;
  margin: auto;
  padding: 0 0 100px 0;
  list-style-type: none;
}

.product__item{
    position: relative;
    width: 250px;
    height: 360px;
    margin: 17px 0;
    border-radius: 8px;

    .product__item-wrap{
      @include flex-mother($flex-direction: column, $align-items: center, $flex-wrap: wrap);
      position: absolute;
      top: 0;
      left: 0;
      width: 250px;
      height: 360px;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 2px 2px 5px 1px rgba(0,0,0,.1);
      transition: .3s;
      // overflow: hidden;
      &>{
        flex-grow: 0;
      }
      .product__item-image{
        flex-basis: 140px;
        position: relative;
        max-width: 100%;
        min-height: 140px;
        border-radius: 3px;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
          object-fit: scale-down;
          transition: .4s ease-out;
        }
      }
  
      .product__item-name{
        display: block;
        font-size: 20px;
        font-weight: 500;
        font-family: 'Rubik', sans-serif;
        color: $color2;
      }

      .product__item-name-price-wrap{
        @include flex-mother($align-items: center, $justify-content: space-between);
        width: 100%;
        margin: 10px 0;
      }
  
      .product__item-price{
        display: block;
        text-align: end;
        font-size: 15px;
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        color: $color5;
      }

      .product__item-desc{
        position: relative;
        width: 100%;
        padding: 5px;
        border-radius: 5px;
        font-family: 'Rubik', sans-serif;
        font-size: .8rem;
        font-weight: 300;
        word-break: break-all;
        background-color: white;
        
        transition: .3s;
        button{
          position: absolute;
          top: 5px;
          right: 0;
          width: 15px;
          border: none;
          font-size: 1rem;
          background-color: transparent;
          color: $color5;
          z-index: 11;
          cursor: pointer;
        }
        span{
          position: absolute;
          top: 0;
          left: 0;
          min-height: 80px;
          width: 100%;
          padding: 5px 15px 5px 5px;
          border-radius: 5px;
          background-color: white;
          box-shadow: 1px 1px 2px 1px rgba(0,0,0,.1);
          transition: .3s;
          z-index: 10;
        }
      }
  
      .product__item-add-cart{
        @include flex-mother($justify-content: center, $align-items: center);
        position: absolute;
        top: calc(100% - 60px);
        left: 20px;
        height: 40px;
        line-height: 18px;
        width: calc(100% - 40px);
        border: none;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        font-family: 'Rubik', sans-serif;
        font-size: 15px;
        font-weight: 500;
        background-color: $color2;
        color: white;
        transition: .3s;
        cursor: pointer;
        z-index: 8;
        span{
          position: relative;
          display: inline-block;
          width: 28px;
          height: 28px;
          margin-right: 8px;
          border: 2px solid white;
          border-radius: 50%;
          &::after, &::before{
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            height: 12px;
            width: 2px;
            background-color: white;
          }
          &::before{
            height: 2px;
            width: 12px;
          }
        }
      }
    }
}

@media (min-width: 639px){
  .product__list{
    @include flex-mother($flex-direction: row, $justify-content: center, $align-items: center, $flex-wrap: wrap);
  }
  .product__item{
    margin: 20px 30px;
  }
}

@media (min-width: 839px){
  .product__item{
    margin: 15px;
  }
}

@media (min-width: 1024px){
  .product__item{
    height: 340px;
    margin: 17px 25px;
    .product__item-wrap{
      .product__item-add-cart{
        z-index: -99;
      }
      &:hover{
        .product__item-add-cart{
          opacity: 1;
          z-index: 9;
        }
      }
    }
    .product__item-wrap{
      height: 310px;
      &:hover{
        height: 350px;
      }
      .product__item-add-cart{
        top: calc(100% - 55px);
        opacity: 0;
      }
    }
  }
}